exportPattern("^[[:alpha:]]+")
importFrom("IBrokers", "reqHistoricalData")
importFrom("IBrokers", "twsConnect")
importFrom("IBrokers", "twsContract")
importFrom("textutils", "fill_in")
importFrom("zoo", "as.zoo")
importFrom("zoo", "index")
importFrom("utils", "read.table", "download.file", "write.table")
