export(
    ib_hist_data,
    combine_files,
    flex_web_service,
    latest_timestamp,
    read_flex_report,

    positions,
    order_status,
    executions,
    contract_details
    )


importFrom("IBrokers", "reqHistoricalData")
importFrom("IBrokers", "twsConnect")
importFrom("IBrokers", "twsContract")
importFrom("textutils", "fill_in")
importFrom("zoo", "as.zoo")
importFrom("zoo", "index")
importFrom("utils", "read.table", "download.file",
           "write.table", "capture.output")

S3method(print, order_status)
